<div class="container" style="margin-top: 10px;">
  <div class="row">
    <div class="col">
      <form [formGroup]="routeForm" (ngSubmit)="onSubmit()" style="border: 2px solid #ccc; border-radius: 4px; padding: 12px 20px; background-color: white">
        <div class="form-group form-inline justify-content-between">
          <h2>New route</h2>
          <button type="submit" [disabled]="loading" class="btn btn-primary float-right">Compute</button>
        </div>
        <hr>

        <datalist id="st">
          <option *ngFor="let station of stations" data-station="station">{{station.name}}</option>
        </datalist>

        <div class="row">
          <div class="col-sm-4">

            <div class="form-group">
              <label for="start">Start station</label>
              <input list="st" formControlName="start" class="form-control" autocomplete="off" id="stId" [ngClass]="{ 'is-invalid': wrongStartStation }">
              <div *ngIf="wrongStartStation" class="invalid-feedback">
                Select station from list
              </div>
            </div>

            <div class="form-group">
              <label for="name">Route name</label>
              <input type="text" formControlName="name" class="form-control" />
            </div>

            <div class="form-group">
              <span>Faster</span>
              <span class="slidecontainer" style="margin-left: 10px">
                <input class="slider" type="range" formControlName="factor" min="0" max="1" step="0.01">
              </span>
              <span style="margin-left: 10px">Cheaper</span>
            </div>

            <div class="form-group">
              <input type="checkbox" [checked]="auto" (change)="auto = !auto" />
              <span style="margin-left: 5px">Bus</span>
              <input style="margin-left: 10px" type="checkbox" [checked]="fly" (change)="fly = !fly" />
              <span style="margin-left: 5px">Plane</span>
              <input style="margin-left: 10px" type="checkbox" [checked]="train" (change)="train = !train" />
              <span style="margin-left: 5px">Train</span>
            </div>

            <div class="form-group">
              <label>Start date</label>
              <input type="date" formControlName="date" max="3000-12-31" min="{{now | date:'yyyy-MM-dd'}}" class="form-control" style="width: 180px">
            </div>
          </div>
          <div class="col">
            <h5>Station list</h5>
            <div class="form-group form-inline justify-content-between">
              <label>Station</label>
              <input list="st" autocomplete="off" class="form-control mar" formControlName="addStName" [ngClass]="{ 'is-invalid': wrongNewStation }">
              <label class="mar">Days</label>
              <input autocomplete="off" class="form-control nums mar" formControlName="addStDays" type="number" min="0" max="20">
              <label class="mar">Hours</label>
              <input autocomplete="off" class="form-control nums mar" formControlName="addStHours" type="number" min="0" max="23" value="0">
              <button type="button" class="btn btn-primary mar float-right" (click)="addStation()" style="width: 90px;">Add</button>
              <div *ngIf="wrongNewStation" class="invalid-feedback">
                Select station from list
              </div>
            </div>
            <table class='table table-striped'>
              <thead>
                <tr>
                  <th width="70%">Station</th>
                  <th width="10%">Days</th>
                  <th width="10%">Hours</th>
                  <th width="10%"></th>
                </tr>
              </thead>
              <tbody class="users">
                <tr *ngFor="let st of selectedStations">
                  <td>{{st.name}}</td>
                  <td>{{st.days}}</td>
                  <td>{{st.hours}}</td>
                  <td>
                    <a (click)="removeStation(st)">
                      <img src="/assets/images/delete.png">
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>