<ul class="mylist">
    <li class="headerr">
        <div class="row">
            <div class="col-3">
                <p>Name</p>
            </div>
            <div class="col-3">
                <p>Creation date</p>
            </div>
            <div class="col-3">
                <p>Departure date</p>
            </div>
            <div class="col-3">
                <p>Stations</p>
            </div>
        </div>
    </li>
    <li *ngFor="let item of routes" class="myli" [ngClass]="item.favorite ? 'yel' : 'blu'" (click)="click(item)">
        <div class="row">
            <div class="col-3">
                <p>{{item.name}}</p>
            </div>
            <div class="col-3">
                <p>{{item.creationDate | date : "dd.MM.y HH:mm"}}</p>
            </div>
            <div class="col-3">
                <p>{{item.tickets[0].departureTime | date : "dd.MM.y HH:mm"}}</p>
            </div>
            <div class="col-3">
                <p>{{item.stations}}</p>
            </div>
        </div>
    </li>
</ul>
